block append head
    link(rel='stylesheet', href='/stylesheets/header.css')

header
    nav.mainMenu
        h1#title ReadMemoir
        ul.lists
            if user
                li.link
                    a#home(href='/') Home
                li.link
                    a#books(href='#') My Books
                li.link
                    a#about(href='#') About
                li.link
                    a#contact(href='#') Contact
            else 
                li.link
                    a#home(href='/') Home
                li.link
                    a#about(href='#') About
                li.link
                    a#contact(href='#') Contact
        ul.account
            if user
                li.link
                    a.link#profile Profile
                li.link 
                    a.link.logout Logout
            else
                li.link 
                    a.link(href='/login') Login
                li.link 
                    a.link(href='/register') Register
            img#openMenu(src="/uploads/hamburger.png", alt="Open Menu")
            img#closeMenu(src='/uploads/close.png', alt='Close Menu')
    ul.dropDownMenu
        //- li
        //-     a(href='/') Home
        //- li
        //-     a(href='#') About
        //- li
        //-     a(href='#') Contact
        //- li
        //-     a(href='/login') Login
        //- li
        //-     a(href='/register') Register
        if user
            li
                a(href='/') Home
            li
                a(href='#') My Books
            li
                a(href='#') About
            li
                a(href='#') Contact
            li 
                a.logout(href="#") Logout 
        else 
            li
                a(href='/') Home
            li
                a(href='#') About
            li
                a(href='#') Contact