block append head
    link(rel='stylesheet', href='/stylesheets/header.css')

header
    nav.nav
        h1 Booknotes
        ul.lists
            li.link
                a(href='#') Home
            li.link
                a(href='#') Link 1
            li.link
                a(href='#') Link 2
        ul.account
            li 
                a.link(href='#' id='login') Login
            li 
                a.link(href='#' id='register') Register