block append head
    link(rel='stylesheet', href='/stylesheets/header.css')

header
    nav.mainMenu
        h1#title BookNotes
        ul.lists
            li.link
                a(href='/') Home
            li.link
                a(href='#') About
            li.link
                a(href='#') Contact
        ul.account
            li.link 
                a.link(href='#') Login
            li.link 
                a.link(href='#') Register
            img#openMenu(src="/uploads/hamburger.png", alt="Open Menu")
            img#closeMenu(src='/uploads/close.png', alt='Close Menu')
    ul.dropDownMenu
        li
            a(href='#') Home
        li
            a(href='#') About
        li
            a(href='#') Contact
        li
            a(href='#') Login
        li
            a(href='#') Register