extends base

block append head
    link(rel='stylesheet' href='/stylesheets/book.css')
    title #{title}

block content
    .mainContainer
        .leftContainer
            .nameAndAuthor
                h1 #{book.title}
                p - #{book.author}
            ul.tabsContainer
                li 
                    a#notes Notes
                li 
                    a#quotes Quotes
            button#deleteBook Delete Book
        .rightContainer 
            .notes
                .newNoteContainer
                    h1 Add Note
                    img#addNoteBtn(src="/uploads/add.png", alt="Add Icon")
                .noteContainer 
                    h1 Time
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui repellendus.
                    button.openNoteBtn Open Note
            .quotes
            .container 
                form.addNoteForm
                    h1 Create Note
                    span#closeWindow X
                    label(for="title") Note Title
                    input#noteTitle(type="text" name='title' required) 
                    button#confirmBtn Confirm 
        