extends base

block append head
    link(rel='stylesheet' href='/stylesheets/book.css')
    title #{title}

block content
    .mainContainer
        .leftContainer
            .nameAndAuthor
                h1 #{book.title}
                p - #{book.author}
            ul.tabsContainer
                li 
                    a#notes Notes
                li 
                    a#quotes Quotes
            button#deleteBook Delete Book
        .rightContainer
        