extends base

block append head
    link(rel='stylesheet', href='/stylesheets/home.css')
    title #{title}

block content
    section.sectionOne
        .sectionOneContent
            h1 Welcome to, ReadMemoir!
            p Your go-to destination for seamlessly capturing and organizing your thoughts on the literary treasures you've encountered. Dive into the world of meaningful annotations and insightful reflections as you explore the pages of your favorite books.
        img#homePageBook(src="/uploads/book.png", alt="Book")
        img#toTopBtn(src="/uploads/up.png", alt="To Top Button")
    section.sectionTwo
        img#homeNotes(src="/uploads/notes.png", alt="Notes")
        .sectionTwoContent
            h1 About Us
            p Note-taking transforms reading into an active process, aiding comprehension and retention. It's a personalized roadmap for organizing thoughts and fostering critical thinking, deepening your connection with the material.