extends base

block append head
    link(rel='stylesheet', href='/stylesheets/home.css')
    title #{title}

block content
    section.sectionOne
        .sectionOneContent
            h1 Welcome to BookNotes!
            p Your go-to destination for seamlessly capturing and organizing your thoughts on the literary treasures you've encountered. Dive into the world of meaningful annotations and insightful reflections as you explore the pages of your favorite books.
        img#homePageBook(src="/uploads/book.png", alt="Book")