extends base

block append head
    link(rel='stylesheet', href='/stylesheets/login.css')
    title #{title}

block content
    section.loginSection
        form.loginForm
            h1 Log In Your Account
            label(for="email") Email
            input(type="text" name="email" id="email") 
            label(for="password") Password 
            input(type="password" name="password" id="password") 
            button#logMeIn LOG ME IN
            p#noAccount Don't have an account? 
                a(href='/register') Sign Up