extends base

mixin book(title, author)
    .bookContainer 
        h1 #{title}
        p - #{author}
        button.openBookBtn Open Book

block append head
    link(rel='stylesheet', href='/stylesheets/myBooks.css')

block content
    section.myBooksSection
        .newBookContainer
            h1 Add Book
            img#addBookBtn(src="/uploads/add.png", alt="Add Icon" data-userid=``)
        each book in books
            +book(book.title, book.author)
    .container 
        form.addBookForm
            h1 Create Book
            span#closeWindow X
            label(for="title") Book Title
            input#bookTitle(type="text" name='title' required) 
            label(for="author") Book Author
            input#bookAuthor(type="text" name='author' required)
            button#confirmBtn Confirm 