body {
    position: fixed;
}

/* Main Container */

.mainContainer {
    width: 100%;
    height: 95.35vh;
    display: flex;
    /* background-color: lightblue; */
}

/* Left Container */

.leftContainer {
    gap: 3rem;
    width: 250px;
    color: white;
    display: flex;
    padding: 2rem 1rem;
    position: relative;
    flex-wrap: wrap;
    border-right: 1px solid black;
    flex-direction: column;
    background-color: #9f754d;
}

.nameAndAuthor {
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.nameAndAuthor h1 {
    text-align: center;
    font-size: 2rem;
    user-select: none;
}

.nameAndAuthor p {
    font-size: 1.25rem;
    user-select: none;
}

.tabsContainer {
    gap: 0.25rem;
    display: flex;
    padding: 0rem 1rem;
    flex-direction: column;
}

.tabsContainer li a {
    display: inline-block;
    font-size: 1.5rem;
    user-select: none;
}

.tabsContainer li a::after {
    display: block;
    content: '';
    border-bottom: 2px solid black;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: transform 250ms ease-in-out;
}

.tabsContainer li a:hover {
    cursor: pointer;
}

.tabsContainer li a:hover::after {
    transform: scaleX(1);
}

.tabsContainer li a:active {
    transform: translateY(4px);
}

#deleteBook {
    left: 4.75rem;
    border: none;
    bottom: 2rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
    position: absolute;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .25);
    user-select: none;
    border-radius: 5px;
    background-color: red;
}

#deleteBook:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#deleteBook:active {
    transform: translateY(4px);
}

/* === Right Container === */

.rightContainer {
    width: 100%;
    background-color: #a3cfa7;
}

/* == Notes == */

.notes {
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: none;
    background-color: #F7DCEC;
}

/* Add Note Container  */

.newNoteContainer {
    width: 200px;
    height: 200px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: relative;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    border-radius: 1rem;
    justify-content: center;

    background-color: white;
}

.newNoteContainer:hover {
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.5);
}

.newNoteContainer h1 {
    top: 1rem;
    cursor: default;
    position: absolute;
    font-size: 2rem;
    user-select: none;
}

#addNoteBtn {
    width: 64px;
    height: auto;
    user-select: none;
    border-radius: 50%;
}

#addNoteBtn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#addNoteBtn:active {
    transform: translateY(4px);
}

/* Note Container */

.noteContainer {
    gap: 1rem;
    color: white;
    width: 200px;
    height: 168px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 1rem 0rem;
    position: relative;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 1rem;
    
    background-color: #9f754d;
}

.noteContainer:hover {
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.5);
}

.noteContainer h1 {
    cursor: default;
    font-size: 2rem;
    font-weight: 500;
    user-select: none;
    text-align: center;
}

.noteContainer p {
    font-style: italic;
    text-align: center;
    user-select: none;
}

.openNoteBtn {
    border: 1px solid rgba(0, 0, 0, 1);
    bottom: 2rem;
    padding: 0.75rem 1.25rem;
    position: absolute;
    background-color: white;
}

.openNoteBtn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.openNoteBtn:active {
    transform: translateY(4px);
}

/* Add Note Menu Overlay */

.container {
    top: 60px;
    left: 0px;
    width: 100vw;
    height: 95.35vh;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.addNoteForm {
    width: 500px;
    height: auto;
    display: none;
    border: 1px solid black;
    padding: 2.5rem 2rem;
    position: relative;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0, 0.25);
    align-items: center;
    border-radius: 4px;
    flex-direction: column;
    justify-content: center;
    background-color: #FBEEC1;
}

.addNoteForm h1 {
    font-size: 2rem;
    user-select: none;
    margin-bottom: 2rem;
}

#closeNoteWindow, #closeQuoteWindow {
    top: 1rem;
    right: 1rem;
    position: absolute;
    font-size: 1.5rem;
    user-select: none;
}

#closeNoteWindow:hover, #closeQuoteWindow:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#closeNoteWindow:active, #closeQuoteWindow:active {
    transform: translateY(4px);
}

.addNoteForm label {
    width: 100%;
    font-weight: 300;
    user-select: none;
}

.addNoteForm input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.5rem 0rem;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid black;
    background-color: transparent;
}

#confirmBtn, #confirmEditBtn {
    color: white;
    width: 150px;
    border: none;
    margin: 1rem 0rem;
    padding: 0.75rem 0rem;
    font-size: 1rem;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0, 0.5);
    border-radius: 4px;
    background-color: #418aff;
}

#confirmBtn:hover, #confirmEditBtn:hover {
    cursor: pointer;
    background-color: #2c7af7;
}

#confirmBtn:active, #confirmEditBtn:active {
    transform: translateY(4px);
}


/* == Quotes == */

.quotes {
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: none;
    background-color: #F7DCEC;
}

.addQuoteForm {
    width: 500px;
    height: auto;
    display: none;
    border: 1px solid black;
    padding: 2.5rem 2rem;
    position: relative;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0, 0.25);
    align-items: center;
    border-radius: 4px;
    flex-direction: column;
    justify-content: center;
    background-color: #FBEEC1;
}

.addQuoteForm h1 {
    font-size: 2rem;
    user-select: none;
    margin-bottom: 2rem;
}

.addQuoteForm label {
    width: 100%;
    font-weight: 300;
    user-select: none;
}

.addQuoteForm input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.5rem 0rem;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid black;
    background-color: transparent;
}

/* Add New Quote */

.newQuoteContainer {
    width: 200px;
    height: 200px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: relative;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    border-radius: 1rem;
    justify-content: center;

    background-color: white;
}

.newQuoteContainer:hover {
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.5);
}

.newQuoteContainer h1 {
    top: 1rem;
    cursor: default;
    position: absolute;
    font-size: 2rem;
    user-select: none;
}

#addQuoteBtn {
    width: 64px;
    height: auto;
    user-select: none;
    border-radius: 50%;
}

#addQuoteBtn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#addQuoteBtn:active {
    transform: translateY(4px);
}

/* Quote Container */

.quoteContainer {
    gap: 1rem;
    width: 168px;
    height: 168px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 1rem;
    position: relative;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    
    background-color: #9f754d;
}

.quoteContainer:hover {
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.5);
}

.quoteContainer p {
    color: white;
    font-style: italic;
    text-align: center;
    user-select: none;
}

.openQuoteBtn {
    border: 1px solid rgba(0, 0, 0, 1);
    bottom: 2rem;
    padding: 0.75rem 1.25rem;
    position: absolute;
    background-color: white;
}

.openQuoteBtn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.openQuoteBtn:active {
    transform: translateY(4px);
}

/* Opened Note Container */
.openedNoteContainer {
    width: 500px;
    height: auto;
    display: none;
    border: 1px solid black;
    padding: 2.5rem 2rem;
    position: relative;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0, 0.25);
    align-items: center;
    border-radius: 4px;
    flex-direction: column;
    justify-content: center;
    background-color: #FBEEC1;   
}

.openedNoteContainer h1 {
    font-size: 2rem;
    user-select: none;
    margin-bottom: 2rem;
}

.openedNoteContainer label {
    width: 100%;
    font-weight: 300;
    user-select: none;
}

.openedNoteContainer input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.5rem 0rem;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid black;
    background-color: transparent;
}

#editNoteContent {
    resize: none;
    margin-top: 0.5rem;
}

#closeEditNoteWindow, #closeEditQuoteWindow {
    top: 1rem;
    right: 1rem;
    position: absolute;
    font-size: 1.5rem;
    user-select: none;
}

#closeEditNoteWindow:hover, #closeEditQuoteWindow:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#closeEditNoteWindow:active, #closeEditQuoteWindow:active {
    transform: translateY(4px);
}