@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

.mainMenu {
    width: 98.8vw;
    display: flex;
    padding: 1rem;
    font-family: JabcedHy;
    align-items: center;
    justify-content: space-between;
    background-color: #FBEEC1;
}

.mainMenu h1 {
    font-size: 1.75rem;
}

.lists {
    gap: 1rem;
    display: flex;
    text-transform: uppercase;
}

.link:active {
    transform: translateY(2px);
}

.link a {
    color: black;
    align-items: center;
    text-decoration: none;
}

.link a::after {
    display: block;
    content: '';
    border-bottom: 2px solid black;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: transform 250ms ease-in-out;
}

.link a:hover::after {
    transform: scaleX(1);
}

.account {
    gap: 1rem;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}

.account li a {
    color: black;
    text-decoration: none;
}

#logout {
    cursor: pointer;
}

#openMenu {
    width: 24px;
    display: none;
}

#closeMenu {
    display: none;
}

/* Drop Down Menu */
.dropDownMenu {
    display: none;
    width: 100vw;
    height: 92.5vh;
    z-index: 100;
    padding: 2rem 0rem 0rem 0rem;
    background-color: pink;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.dropDownMenu li {
    text-align: center;
    width: 150px;
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
}

.dropDownMenu li a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Responsive */
@media only screen and (max-width: 550px) {
    .link {
        display: none;
    }
}